<footer class="absolute bottom-0 flex flex-col lg:flex-row font-sans p-2 justify-center items-center bg-sky-500 mt-1 text-white">
    <p>L'agglomération du Beauvaisis est un regroupement de 53 communes dans le département de l'Oise</p>
    <div class="h-0.5 w-2/5 mt-2 bg-white"></div>
    <section id="adresse" class="w-full">
        <h4 class="font-bold">ADRESSE</h4>
        <p>Communauté d'Agglomération du Beauvaisis <br>
           48 rue Desgrou, <br>
           60005 Beauvais Cedex</p>
    </section>
    <section id="contacts" class="w-full mt-2">
        <h4 class="font-bold">CONTACTS</h4>
        <ul>
            <li class="flex">
                <img class="w-8 aspect-square" src="/icons/searchIcon.svg">
                <p>03 44 15 68 00</p>
            </li>
            <li class="flex">
                <img class="w-8 aspect-square" src="/icons/searchIcon.svg">
                <p>Par mail</p>
            </li>
            <li class="flex">
                <img class="w-8 aspect-square" src="/icons/searchIcon.svg">
                <p>Planning</p>
            </li>
        </ul>
    </section>
    <div class="h-0.5 w-2/5 mt-2 bg-white"></div>
    <section id="navigation" class="w-full mt-2 mb-8">
        <h4 class="font-bold">NAVIGATION</h4>
        <nav>
            <ul>
                <li><a href="/presentation.html">Présentation</a></li>
                <li><a href="/actualites.html">Actualités</a></li>
                <li><a href="/tourisme.html">Tourisme</a></li>
                <li><a href="/mentions-legales.html">Mentions légales</a></li>
                <li><a href="#">Haut de page</a></li>
            </ul>
        </nav>
    </section>
</footer>