<footer class="w-full flex flex-col font-sans p-2 justify-center items-center bg-sky-500 mt-auto text-white">
    <div id="1st-row" class="flex flex-col lg:flex-row w-full lg:max-w-4xl lg:m-auto">
        <p class="max-w-md mx-auto lg:max-w-sm">La <span class="font-bold">communauté d'agglomération du Beauvaisis</span> est un regroupement de 53 communes dans le département de l'Oise</p>
        <div class="h-0.5 w-2/5 mt-2 mx-auto bg-white lg:hidden"></div>
        <section id="adresse" class="w-full max-w-md mx-auto lg:w-auto">
            <h4 class="font-bold">ADRESSE</h4>
            <p>Communauté d'Agglomération du Beauvaisis <br>
               48 rue Desgrou, <br>
               60005 Beauvais Cedex</p>
        </section>
        <section id="contacts" class="w-full max-w-md mx-auto lg:w-auto mt-2 lg:ml-2 lg:mt-0">
            <h4 class="font-bold">CONTACTS</h4>
            <ul>
                <li class="flex">
                    <img class="w-8 aspect-square" src="/icons/searchIcon.svg">
                    <p>03 44 15 68 00</p>
                </li>
                <li class="flex">
                    <img class="w-8 aspect-square" src="/icons/searchIcon.svg">
                    <p>Par mail</p>
                </li>
                <li class="flex">
                    <img class="w-8 aspect-square" src="/icons/searchIcon.svg">
                    <p>Planning</p>
                </li>
            </ul>
        </section>
    </div>
    <div class="h-0.5 w-2/5 mt-2 bg-white"></div>
    <section id="navigation" class="w-full max-w-md mt-2 mb-8 mx-auto lg:max-w-full lg:flex lg:flex-row lg:mx-auto lg:w-auto">
        <h4 class="font-bold lg:mr-3">NAVIGATION</h4>
        <nav>
            <ul class="lg:flex lg:flex-row">
                <li class="lg:mr-3"><a href="/presentation.html">Présentation</a></lii>
                <li class="lg:mr-3"><a href="/actualites.html">Actualités</a></lii>
                <li class="lg:mr-3"><a href="/tourisme.html">Tourisme</a></lii>
                <li class="lg:mr-3"><a href="/mentions-legales.html">Mentions légales</a></lii>
                <li class="lg:mr-3"><a href="#">Haut de page</a></lii>
            </ul>
        </nav>
    </section>
</footer>