<!-- Navigation bar -->
<nav class="mt-4 mx-2 bg-white p-2.5 py-1.5 shadow-[0_0_4px_0_rgba(0,0,0,0.25)] font-sans border-b-neutral-100 justify-between items-center rounded-lg flex flex-row sticky">
    <p class="text-3xl"><span class="font-bold">BEAUVAISIS</span>.FR</p>
    <div id="buttons-mobile" class="lg:hidden">
        <ul class="flex flex-row h-full">
            <li class="mr-2">
                <img src="/icons/burgerIcon.svg" alt="Icône de menu" class="h-6 aspect-square"/>
            </li>
            <li>
                <img src="/icons/searchIcon.svg" alt="Icône de loupe, pour la recherche" class="h-6 aspect-square"/>
            </li>
        </ul>
    </div>
    <div id="buttons-desktop" class="hidden lg:block"></div>
</nav>
<!-- Navigation bar end -->